<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="conexao" connectionString="Server=184.168.194.60;Database=Intranet;uid=intranet;Password=AceSsoSpeedo@!2017;"/>-->
    <add name="conexao" connectionString="Server=Venus;Database=Intranet;uid=intranet;Password=AceSsoSpeedo@!2017;"/> 
  </connectionStrings>
  <system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
   </security>
 </system.webServer>
  <system.web>    
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" executionTimeout="180" maxRequestLength="1048576" />
    <pages enableViewStateMac="false" >      
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <trust level="Full"/>
    <customErrors mode="Off"/>  
  </system.web>
</configuration>
<!--ProjectGuid: D9C17EB2-6EC9-4C64-81E6-81CF0FE1E751-->