
.hTitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size:300%;
}

.dLogin{
    width: 165px;
    margin-left: 120%;
    margin-top: -95px;
}

.dTitulo{
    position:absolute;
    left:600px;
}
.dPesquisa {
    position: absolute;
    top: 45%;
    left: 10%;
    color: #ccc;
}


.ddPesquisa {
    position:fixed;
   
    Width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 200%;
}

.ddPesquisa-select.form-control {
    width: 81%;
}

/*Inicio Botão Incluir*/
.btnIncluir {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    background: #ffffff;
    width: 200px;
    height: 70px;
    margin-top: -10px;
}

    .btnIncluir:hover, .btnIncluir.hover {
        background: #ffffff;
        color: #777;
    }

    .btnIncluir.btnIncluir-lg {
        padding: 10px 16px;
        font-size: 30px;
        /*margin: 50px 1039px 0; /*Margin*/
        margin-left: 1023px;
        margin-top: 0px;
    }

    .btnIncluir.btnIncluir-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnIncluir.btnIncluir-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnIncluir.primary {
        border-color: #Fe370F;
        color: #4f5557;
        margin-left: 1023px;
        margin-top: 345px;
    }

        .btnIncluir.primary:hover, .btnIncluir.primary.hover {
            background: #Fe370F;
            color: #fff;
            /*margin: 50px 1039px 0; /*Margin*/
            margin-left: 1023px;
            margin-top: 345px;
        }

    .btnIncluir.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnIncluir.danger:hover, .btnIncluir.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnIncluir.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnIncluir.success:hover, .btnIncluir.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnIncluir.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnIncluir.warning:hover, .btnIncluir.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnIncluir.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnIncluir.black:hover, .btnIncluir.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnIncluir.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnIncluir.black:hover, .btnIncluir.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnIncluir.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnIncluir.info:hover, .btnIncluir.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnIncluir.clear {
        border-color: #777;
        color: #777;
    }

        .btnIncluir.clear:hover, .btnIncluir.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Incluir*/


/*Inicio Botão Salvar*/
.btnSalvar {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 900;
    margin: 830px; /*Margin*/
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 30px;
    background: #ffffff;
    width: 250px;
    height: 70px;
    margin-top: -10px;
}

    .btnSalvar:hover, .btnSalvar.hover {
        background: #ffffff;
        color: #777;
    }

    .btnSalvar.btnSalvar-lg {
        padding: 10px 16px;
        font-size: 30px;
        /*margin: 50px 1006px 0; /*Margin*/
        margin-top: 0px;
    }

    .btnSalvar.btnSalvar-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnSalvar.btnSalvar-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnSalvar.primary {
        border-color: #Fe370F;
        color: #4f5557;
        /*margin: 50px 1006px 0; /*Margin*/
        margin-top: 445px;
    }

        .btnSalvar.primary:hover, .btnSalvar.primary.hover {
            background: #Fe370F;
            color: #fff;
            /*margin: 50px 1006px 0; /*Margin*/
            margin-top: 445px;
        }

    .btnSalvar.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnSalvar.danger:hover, .btnSalvar.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnSalvar.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnSalvar.success:hover, .btnSalvar.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnSalvar.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnSalvar.warning:hover, .btnSalvar.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnSalvar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnSalvar.black:hover, .btnSalvar.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnSalvar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnSalvar.black:hover, .btnSalvar.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnSalvar.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnSalvar.info:hover, .btnSalvar.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnSalvar.clear {
        border-color: #777;
        color: #777;
    }

        .btnSalvar.clear:hover, .btnSalvar.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Salvar*/