.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}

.hTitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size:300%;
}

.body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.dLogin{
    width: 165px;
    margin-left: 120%;
    margin-top: -95px;
}

.dTitulo{
    position:absolute;
    left:600px;
}
.dPesquisa{
    position:absolute;
    top:45%;
    left:10%;
}

.ddPesquisa {
    Height: 76px;
    Width: 1113px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 200%;
}

/*Inicio Botão Incluir*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    margin: 830px; /*Margin*/
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    background: #ffffff;
    width: 200px;
    height: 70px;
    margin-top: -10px;
}

    .btn:hover, .btn.hover {
        background: #ffffff;
        color: #777;
    }

    .btn.btn-lg {
        padding: 10px 16px;
        font-size: 30px;
        margin: 50px 1039px 0; /*Margin*/
        margin-top: 0px;
    }

    .btn.btn-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btn.btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btn.primary {
        border-color: #Fe370F;
        color: #4f5557;
        margin: 50px 1039px 0; /*Margin*/
        margin-top: 345px;
    }

        .btn.primary:hover, .btn.primary.hover {
            background: #Fe370F;
            color: #fff;
            margin: 50px 1039px 0; /*Margin*/
            margin-top: 345px;
        }

    .btn.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btn.danger:hover, .btn.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btn.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btn.success:hover, .btn.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btn.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btn.warning:hover, .btn.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btn.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btn.black:hover, .btn.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btn.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btn.black:hover, .btn.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btn.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btn.info:hover, .btn.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btn.clear {
        border-color: #777;
        color: #777;
    }

        .btn.clear:hover, .btn.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Incluir*/


/*Inicio Botão Salvar*/
.btnSalvar {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 900;
    margin: 830px; /*Margin*/
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 30px;
    background: #ffffff;
    width: 250px;
    height: 70px;
    margin-top: -10px;
}

    .btnSalvar:hover, .btnSalvar.hover {
        background: #ffffff;
        color: #777;
    }

    .btnSalvar.btnSalvar-lg {
        padding: 10px 16px;
        font-size: 30px;
        margin: 50px 1006px 0; /*Margin*/
        margin-top: 0px;
    }

    .btnSalvar.btnSalvar-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnSalvar.btnSalvar-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnSalvar.primary {
        border-color: #Fe370F;
        color: #4f5557;
        margin: 50px 1006px 0; /*Margin*/
        margin-top: 445px;
    }

        .btnSalvar.primary:hover, .btnSalvar.primary.hover {
            background: #Fe370F;
            color: #fff;
            margin: 50px 1006px 0; /*Margin*/
            margin-top: 445px;
        }

    .btnSalvar.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnSalvar.danger:hover, .btnSalvar.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnSalvar.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnSalvar.success:hover, .btnSalvar.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnSalvar.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnSalvar.warning:hover, .btnSalvar.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnSalvar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnSalvar.black:hover, .btnSalvar.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnSalvar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnSalvar.black:hover, .btnSalvar.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnSalvar.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnSalvar.info:hover, .btnSalvar.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnSalvar.clear {
        border-color: #777;
        color: #777;
    }

        .btnSalvar.clear:hover, .btnSalvar.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Salvar*/