
.hTitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size:300%;
}

.dLogin{
    width: 165px;
    margin-left: 120%;
    margin-top: -95px;
}

.dTitulo {
    position: absolute;
    left: 600px;
    top: 80px;
}
.dPesquisa {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #ccc;
}

.ddPesquisa {
    position:fixed;
   
    Width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 200%;
}

.ddPesquisa-select.form-control {
    width: 81%;
}
.dIncluir {
    height: 418px;
}
.dAlterar {
    position: relative;
    top: 62px;
    left: 64%;
    width: 197px;
    height: 62px;
}

.dRelatorio {
    position: relative;    
    left: 42%;
    width: 197px;
    height: 62px;
}


/*Inicio Botão Incluir*/
.btnIncluir {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    background: #ffffff;
    width: 200px;
    height: 70px;
    margin-top: -10px;
}

    .btnIncluir:hover, .btnIncluir.hover {
        background: #ffffff;
        color: #777;
    }

    .btnIncluir.btnIncluir-lg {
        padding: 10px 16px;
        font-size: 30px;
        /*margin: 50px 1039px 0; /*Margin*/
        margin-left: 1029px;
        margin-top: 470px;
    }

    .btnIncluir.btnIncluir-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnIncluir.btnIncluir-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnIncluir.primary {
        border-color: #Fe370F;
        color: #4f5557;
        margin-left: 1029px;
        margin-top: 470px;
    }

        .btnIncluir.primary:hover, .btnIncluir.primary.hover {
            background: #Fe370F;
            color: #fff;
            /*margin: 50px 1039px 0; /*Margin*/
            margin-left: 1029px;
            margin-top: 470px;
        }

    .btnIncluir.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnIncluir.danger:hover, .btnIncluir.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnIncluir.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnIncluir.success:hover, .btnIncluir.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnIncluir.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnIncluir.warning:hover, .btnIncluir.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnIncluir.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnIncluir.black:hover, .btnIncluir.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnIncluir.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnIncluir.black:hover, .btnIncluir.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnIncluir.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnIncluir.info:hover, .btnIncluir.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnIncluir.clear {
        border-color: #777;
        color: #777;
    }

        .btnIncluir.clear:hover, .btnIncluir.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Incluir*/


/*Inicio Botão Alterar*/
.btnAlterar {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    background: #ffffff;
    width: 200px;
    height: 70px;
    margin-top: -10px;
}

    .btnAlterar:hover, .btnAlterar.hover {
        background: #ffffff;
        color: #777;
    }

    .btnAlterar.btnAlterar-lg {
        padding: 10px 16px;
        font-size: 30px;
        /*margin: 50px 1039px 0; /*Margin*/
        /*margin-left: 759px;
        margin-top: -27px;*/
    }

    .btnAlterar.btnAlterar-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnAlterar.btnAlterar-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnAlterar.primary {
        border-color: #Fe370F;
        color: #4f5557;
        /*margin-left: 759px;
        margin-top: -27px;*/
    }

        .btnAlterar.primary:hover, .btnAlterar.primary.hover {
            background: #Fe370F;
            color: #fff;
            /*margin: 50px 1039px 0; /*Margin*/
            /*margin-left: 759px;
            margin-top: -27px;*/
        }

    .btnAlterar.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnAlterar.danger:hover, .btnAlterar.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnAlterar.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnAlterar.success:hover, .btnAlterar.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnAlterar.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnAlterar.warning:hover, .btnAlterar.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnAlterar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnAlterar.black:hover, .btnAlterar.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnAlterar.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnIncluir.black:hover, .btnIncluir.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnIncluir.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnIncluir.info:hover, .btnIncluir.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnIncluir.clear {
        border-color: #777;
        color: #777;
    }

        .btnIncluir.clear:hover, .btnIncluir.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Alterar*/



/*Inicio Botão Relatorio*/
.btnRelatorio {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 25px;
    background: #ffffff;
    width: 200px;
    height: 70px;
    margin-top: -10px;
}

    .btnRelatorio:hover, .btnRelatorio.hover {
        background: #ffffff;
        color: #777;
    }

    .btnRelatorio.btnRelatorio-lg {
        padding: 10px 16px;
        font-size: 30px;
        /*margin: 50px 1039px 0; /*Margin*/
        /*margin-left: 1030px;
        margin-top: 350px;*/
    }

    .btnRelatorio.btnRelatorio-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btnRelatorio.btnRelatorio-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btnRelatorio.primary {
        border-color: #Fe370F;
        color: #4f5557;
        /*margin-left: 1030px;
        margin-top: 350px;*/
    }

        .btnRelatorio.primary:hover, .btnRelatorio.primary.hover {
            background: #Fe370F;
            color: #fff;
            /*margin: 50px 1039px 0; /*Margin*/
            /*margin-left: 1030px;
            margin-top: 350px;*/
        }

    .btnRelatorio.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btnRelatorio.danger:hover, .btnRelatorio.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btnRelatorio.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btnRelatorio.success:hover, .btnRelatorio.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btnRelatorio.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btnRelatorio.warning:hover, .btnRelatorio.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btnRelatorio.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnRelatorio.black:hover, .btnRelatorio.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnRelatorio.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btnRelatorio.black:hover, .btnRelatorio.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btnRelatorio.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btnRelatorio.info:hover, .btnRelatorio.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btnRelatorio.clear {
        border-color: #777;
        color: #777;
    }

        .btnRelatorio.clear:hover, .btnRelatorio.clear.hover {
            background: #777;
            color: #fff;
        }
/*FIM Botão Relatorio*/