/*.body{
    width:400px;
}*/
.dIndex {
    height: auto;
    width: auto;
}

.dLogo {
    position: relative;
    width: 242px;
    height: 103px;
    top: 0px;
    left: 13px;
}

.dLogin {
    width: 240px;
    position: relative;
    top: -57px;
    left: 1167px;
    margin-top: 0px;
}

.dPesquisa {
    height: 100px;
    width: 1130px;
    position: relative;
    left: 122px;
    top:20px;
    
}

.busca {
    width: 1010px;
    height: 26px;
    
}

.h2 {

    position:static;    
    left: -143px;
    width: 259px;

}

.IUpload {
    padding: 10px;
    height: 239px;
    width: 250px;
}

.DDClassif {
    margin: 20px 20px 20px 10px;
  
}

.DDTipo{
    margin: 20px 20px 20px 10px;
    margin-top: -40px;
}

.col-md-2 {
    padding: 5px;
    margin-top: 90px;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #FE370f;
    color: #ddd;
    text-decoration: none;
    font-weight: 900;
    margin: 50px 500px 0; /*Margin*/
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 30px;
    background: #ffffff;
    width: 250px;
    height: 70px;
    margin-top: -10px;
}

    .btn:hover, .btn.hover {
        background: #ffffff;
        color: #777;
    }

    .btn.btn-lg {
        padding: 10px 16px;
        font-size: 30px;
        margin: 50px 500px 0; /*Margin*/
        margin-top: -10px;
    }

    .btn.btn-sm {
        padding: 5px 10px;
        font-size: 12px;
    }

    .btn.btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        padding: 1px 5px;
    }

    .btn.primary {
        border-color: #Fe370F;
        color: #4f5557;
        margin: 50px 500px 0; /*Margin*/
        margin-top: -10px;
    }

        .btn.primary:hover, .btn.primary.hover {
            background: #Fe370F;
            color: #fff;
            margin: 50px 500px 0; /*Margin*/
            margin-top: -10px;
        }

    .btn.danger {
        border-color: #e74c3c;
        color: #e74c3c;
    }

        .btn.danger:hover, .btn.danger.hover {
            background: #e74c3c;
            color: #fff;
        }

    .btn.success {
        border-color: #27ae60;
        color: #27ae60;
    }

        .btn.success:hover, .btn.success.hover {
            background: #27ae60;
            color: #fff;
        }

    .btn.warning {
        border-color: #f1c40f;
        color: #f1c40f;
    }

        .btn.warning:hover, .btn.warning.hover {
            background: #f1c40f;
            color: #fff;
        }

    .btn.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btn.black:hover, .btn.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btn.black {
        border-color: #34495e;
        color: #34495e;
    }

        .btn.black:hover, .btn.black.hover {
            background: #34495e;
            color: #fff;
        }

    .btn.info {
        border-color: #5bc0de;
        color: #5bc0de;
    }

        .btn.info:hover, .btn.info.hover {
            background: #5bc0de;
            color: #fff;
        }

    .btn.clear {
        border-color: #777;
        color: #777;
    }

        .btn.clear:hover, .btn.clear.hover {
            background: #777;
            color: #fff;
        }

.DDPesquisa {
    top: -30px;
    height: 40px;
    Width: 1100px;
    border: none;
    z-index:30;
    margin:50px;
    
}

.BtnSair, .BtnSair:hover {
    color: #Fe370F;
    text-decoration:none;
}
.image-preview {
    width: 238px;
    height: 220px;
    top:-75px;
    padding:10px;
    overflow:hidden;
    
}
.image-preview {
            width: 238px;
            height: 220px;
            position:relative;
            overflow: hidden;
            background: url(../Image/Camera_box.png) no-repeat;
            background-size: 238px 220px;
            color: #ecf0f1;  
            max-width:238px;
            max-height:220px;
    left: 0px;
}

.image-preview input {
                line-height: 238px;                
                position: absolute;
                opacity: 0;
                z-index: 10;
                max-width:238px;
                max-height:220px;
               
            }

.image-preview label {
                position: absolute;
                z-index: 5;
                opacity: 0.8;
                cursor: pointer;                
                width: auto;
                height: auto;
                font-size: 20px;              
                text-transform: uppercase;
                top: 0;
                left: 0;
                right: 2px;
                bottom: 2px;
                margin: auto;
                text-align: center;
                max-width:238px;
                max-height:250px;
                
            }