.dIndex {
    height: auto;
    width: auto;
}

.dLogo {
    position: relative;
    width: 242px;
    height: 103px;
    top: 0px;
    left: 13px;
}

.dLogin {
    width: 210px;
    position: relative;
    top: -77px;
    left: 1197px;
    margin-top: 0px;
}

.dPesquisa {
    height: 100px;
    width: 1114px;
    position: relative;
    top: -8px;
    left: 143px;
}

.busca {
    width: 1010px;
    height: 26px;
}

.h2 {
    position: relative;
    top: 7px;
    left: 0px;
    width: 259px;
}

.IUpload {
    padding: 10px;
    height: 239px;
    width: 250px;
   
}

.DDTipo, .DDClassif, .FUpload {
    margin: 20px;
}

.col-md-2 {
    padding: 5px;
}
